@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    font-family: "Roboto";
}

.covid_wrapper {
    padding-left: 100px;
    padding-right: 100px;
}

.covid_form-wrapper {
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 50px;
    border: 1px grey solid;
}

.covid_form-title {
    background-color: #98c1d9;
    padding: 10px 10px 10px 20px;
}

.covid_form-input {
    padding: 0px 100px 0 100px;
}

.covid_application-filters {
    background-color: rgba(247, 239, 239, 0.2);
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 2px 1px -1px rgb(0 0 0 / 20%);
    padding: 30px 0 30px 10px;
    margin-bottom: 50px;
}

.covid_filters-select-label {
    color: rgb(29, 28, 28);
}