@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    font-family: "Roboto";
}

.wrapper {
    padding-left: 2%;
    padding-right: 2%;
}

.form-wrapper {
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 50px;
    border: 1px grey solid;
}

.title {
    background-color: #98c1d9;
    padding: 10px 10px 10px 20px;
}

.input {
    padding: 0px 100px 0 100px;
}

.login-button {
    padding: 30px 100px 0 100px;
}

.register-button {
    padding: 20px 100px 0 100px;
}

.footer {
    padding-top: 250px;
}